@page
@model OnlineDictionary.Pages.Translates.createModel
@{
}
<h1>Add a translate</h1>
<form method="post">
    <p>
        <label>Word1</label><br />
        <input type="text" name="word1" />
    </p>
    <p>
        <label>Type1</label><br />
        <input type="text" name="type1" />
    </p>
    <p>
        <label>Word2</label><br />
        <input type="text" name="Word2" />
    </p>
    <p>
        <label>Type2</label><br />
        <input type="text" name="Type2" />
    </p>
    <input type="submit" value="Create" />
</form>