@page "{id}"
@model OnlineDictionary.Pages.Dicts.addModel
@{
}
<h1>Add a translate</h1>
<form method="post">
    <p>
        <label>Id</label><br />
        <input type="text" name="idTranslate" />
    </p>
    <input type="submit" value="Add" />
</form>