@page
@model OnlineDictionary.Pages.Dicts.createModel
@{
}
<h1>Add a translate</h1>
<form method="post">
    <p>
        <label>Name</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Info</label><br />
        <input type="text" name="info" />
    </p>
    <p>
        <label>Language 1</label><br />
        <input type="text" name="lang1" />
    </p>
    <p>
        <label>Language 2</label><br />
        <input type="text" name="lang2" />
    </p>
    <input type="submit" value="Create" />
</form>