@page
@model OnlineDictionary.Pages.Words.CreateModel
@{
}

<h1>Add a word</h1>
<form method="post">
    <p>
        <label>Word</label><br />
        <input type="text" name="value" />
    </p>
    <p>
        <label>Info</label><br />
        <input type="text" name="info" />
    </p>
    <p>
        <label>Language Name</label><br />
        <input type="text" name="langName" />
    </p>
    <input type="submit" value="Update" />
</form>